*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img{
  width: 100%;
}

.custom-card{
  border: 1px solid lightgrey;
  border-radius: 25px;
  overflow-y: hidden;
}

.card-image{
  height: 400px;
}